div#page {
width: 960px;
margin-left: auto;
margin-right: auto;
}

.title {
  width: 500px;
}

.TheOfficePhoto {
  height: auto;
  width: 500px;
}

.navigation {

}

.Experience {
  font-size: 1.17em;
}
