div#page {
width: 960px;
margin-left: auto;
margin-right: auto;
background-color: lightblue;
}

.navigation {
  border: ridge;
  border-color: #9b9bbb;
}

.TheOfficePhoto {
  height: auto;
  width: 500px;
}

.IITteam2020 {
width: 600px;
height: auto;
}

.hobbies {
  font-size: 1.5em;
}

.contactinfo {
  border-bottom-style: double;
  font-size: 1.17em;
}

.objective {
  border-bottom-style: double;
}

.education {
  border-bottom-style: double;
  font-size: 1.17em;
}

.technicalskills {
  border-bottom-style: double;
  font-size: 1.17em;
}

.Experience {
  border-bottom-style: double;
  font-size: 1.17em;
}
